.cover__subtitle {
  max-width: 360px;
  font-size: 18px;
  line-height: 1.2;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  padding-top: 32px;
  margin: 0;
}

@media (max-width: 508px) {
  .cover__subtitle {
      font-size: 14px;
      line-height: 1.1;
  }
}

@media (max-width: 425px) {
  .cover__subtitle {
      padding-top: 16px;
  }
}
